<h1 class="task-title">Tasks for <%= @project.name %></h1>
<meta name="csrf-token" content="<%= form_authenticity_token %>">
<div class="task-grid">
  <% Task.statuses.keys.each do |status| %>
    <div class="task-status column" data-status="<%= status %>">
      <h2 class="status-title"><%= Task.statuses[status] %></h2>
      <% @tasks[status]&.each do |task| %>
        <div class="task-box" data-id="<%= task.id %>">
          <p class="task-details">
            <strong>Title:</strong>
            <%= task.title %>
          </p>
          <p class="task-details">
            <strong>Description:</strong>
            <%= task.description %>
          </p>
          <p class="task-details">
            <strong>Due Date:</strong>
            <%= task.due_date %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>